<div class="content-wrapper">

  <!-- Main content -->
  <div class="content mt-3">
    <div class="container-fluid">
      
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Tambah Supplier</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" (ngSubmit)="addSuppliers()">
          <div class="card-body">
            <div class="form-group row">
              <label for="input1" class="col-sm-2 col-form-label">Kode Supplier</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="kodeSupplier" placeholder="Kode Supplier">
              </div>
            </div>
            <div class="form-group row">
              <label for="input2" class="col-sm-2 col-form-label">Nama Supplier</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="namaSupplier" placeholder="Nama Supplier">
              </div>
            </div>
            <div class="form-group row">
              <label for="input3" class="col-sm-2 col-form-label">Alamat</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="alamat" placeholder="Alamat">
              </div>
            </div>
            <div class="form-group row">
              <label for="input4" class="col-sm-2 col-form-label">Tanggal Lahir</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="tanggalLahir" placeholder="Tanggal Lahir">
              </div>
            </div>
            <div class="form-group row">
              <label for="input5" class="col-sm-2 col-form-label">Telepon</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="telepon" placeholder="No. Telp">
              </div>
            </div>
            
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button (click)="addSuppliers()" class="btn btn-info">Tambah</button>
            <button (click)="backPage()" class="btn btn-default float-right">Cancel</button>
          </div>
          <!-- /.card-footer -->
        </form>
      </div>

    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>