
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content mt-3">
    <div class="container-fluid">
      
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Edit Supplier</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" [formGroup]="editForm" (ngSubmit)="onSubmit()">
          <div class="card-body">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Kode Supplier</label>
              <div class="col-sm-10">
                <input type="hidden" class="form-control" placeholder="Full Name" id="_id" formControlName="_id">
                <input type="text" class="form-control" id="kodeSupplier" placeholder="Kode Barang" name="kodeSupplier" formControlName="kodeSupplier">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Nama Supplier</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="namaSupplier" placeholder="Nama Barang" name="namaSupplier" formControlName="namaSupplier">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Alamat</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="alamat" placeholder="Alamat" name="alamat" formControlName="alamat">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Tanggal Lahir</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="tanggalLahir" placeholder="Tanggal Lahir" name="tanggalLahir" formControlName="tanggalLahir">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Telepon</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="telepon" placeholder="No. Telp" name="telepon" formControlName="telepon">
              </div>
            </div>
            
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button (click)="onSubmit()" class="btn btn-info">Save</button>
            <button (click)="back()" class="btn btn-default float-right">Cancel</button>
            
          </div>
          <!-- /.card-footer -->
        </form>
      </div>

    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>