<!-- <p>
  product works!
</p> -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Master Supplier</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Supplier</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Data Supplier</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="mb-2">
            <button (click)="tambahSupplier()" class="btn btn-info">Tambah</button>
          </div>
          <table id="barang" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Kode Supplier</th>
              <th>Nama Supplier</th>
              <th>Alamat</th>
              <th>Tanggal Lahir</th>
              <th>Telepon</th>
              <th>Aksi</th>
            </tr>
            </thead>
            <tbody *ngFor="let supplier of dataSupplier">
            <tr>
              <td>{{supplier.kodeSupplier}}</td>
              <td>{{supplier.namaSupplier}}</td>
              <td>{{supplier.alamat}}</td>
              <td>{{supplier.tanggalLahir | date: 'dd MMMM yyyy'}}</td>
              <td>{{supplier.telepon}}</td>
              <td>
                <button (click)="editSupplier(supplier)" class="badge badge-success">Edit</button>
                <button (click)="deleteSupplier(supplier)" class="badge badge-danger">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>

    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>