
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content mt-3">
    <div class="container-fluid">
      
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Edit Product</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" [formGroup]="editForm" (ngSubmit)="onSubmit()">
          <div class="card-body">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Kode Barang</label>
              <div class="col-sm-10">
                <input type="hidden" class="form-control" placeholder="Full Name" id="_id" formControlName="_id">
                <input type="text" class="form-control" id="kodeBarang" placeholder="Kode Barang" name="kodeBarang" formControlName="kodeBarang">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Nama Barang</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="namaBarang" placeholder="Nama Barang" name="namaBarang" formControlName="namaBarang">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Stok</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="stok" placeholder="Stok" name="stok" formControlName="stok">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Tanggal Masuk</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="tanggalMasuk" placeholder="Tanggal Masuk" name="tanggalMasuk" formControlName="tanggalMasuk">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Harga</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="harga" placeholder="Harga" name="harga" formControlName="harga">
              </div>
            </div>
            
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button (click)="onSubmit()" class="btn btn-info">Save</button>
            <button (click)="back()" class="btn btn-default float-right">Cancel</button>
            
          </div>
          <!-- /.card-footer -->
        </form>
      </div>

    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>