<!-- <p>
  product works!
</p> -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Master Product</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Product</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Data Product</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="mb-2">
            <button (click)="tambah()" class="btn btn-info">Tambah</button>
          </div>
          <table id="barang" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Kode Barang</th>
              <th>Nama Barang</th>
              <th>Stok</th>
              <th>Tanggal Masuk</th>
              <th>Harga</th>
              <th>Aksi</th>
            </tr>
            </thead>
            <tbody *ngFor="let product of dataProduct">
            <tr>
              <td>{{product.kodeBarang}}</td>
              <td>{{product.namaBarang}}</td>
              <td>{{product.stok}}</td>
              <td>{{product.tanggalMasuk | date: 'dd MMMM yyyy'}}</td>
              <td>{{product.harga | currency:'Rp. ':true:'1.2-2'}}</td>
              <td>
                <button (click)="editProduct(product)" class="badge badge-success">Edit</button>
                <button (click)="deleteProduct(product)" class="badge badge-danger">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>

    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>