<footer class="main-footer">
  <!-- To the right -->
  <div class="float-right d-none d-sm-inline">
    
  </div>
  <!-- Default to the left -->
  <span>Copyright &copy; 2020.</span> <strong><span>Toko Kelontong</span></strong>
</footer>