<div class="content-wrapper">

  <!-- Main content -->
  <div class="content mt-3">
    <div class="container-fluid">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Tambah Product</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" (ngSubmit)="onSubmit()">
          <div class="card-body">
            <div class="form-group row">
              <label for="input1" class="col-sm-2 col-form-label">Kode Barang</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="kodeBarang" placeholder="Kode Barang">
              </div>
            </div>
            <div class="form-group row">
              <label for="input2" class="col-sm-2 col-form-label">Nama Barang</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="namaBarang" placeholder="Nama Barang">
              </div>
            </div>
            <div class="form-group row">
              <label for="input3" class="col-sm-2 col-form-label">Stok</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="stok" placeholder="Stok">
              </div>
            </div>
            <div class="form-group row">
              <label for="input4" class="col-sm-2 col-form-label">Tanggal Masuk</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="tanggalMasuk" placeholder="Tanggal Masuk">
              </div>
            </div>
            <div class="form-group row">
              <label for="input5" class="col-sm-2 col-form-label">Harga</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="harga" placeholder="Harga">
              </div>
            </div>
            
            
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button (click)="onSubmit()" class="btn btn-info">Tambah</button>
            <button (click)="backPage()" class="btn btn-default float-right">Cancel</button>
          </div>
          <!-- /.card-footer -->
        </form>
      </div>

    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>