<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="dashboard" class="brand-link">
    <!-- <i class="fas fa-shopping-bag"
         style="opacity: .8"></i> -->
    <img src="assets/dist/img/baggs.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" >
    <span class="brand-text font-weight">Toko Kelontong</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/dist/img/dash.png" class="img-circle elevation-2">
        <!-- <i class="fas fa-dashboard"
        style="opacity: .8"></i> -->
      </div>
      <div class="info">
        <a href="dashboard" class="d-block">Dashboard</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-bars"></i>
            <p>
              Data Master
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="product" class="nav-link active">
                <i class="fas fa-cube nav-icon"></i>
                <p>Data Product</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="supplier" class="nav-link">
                <i class="fas fa-share nav-icon"></i>
                <p>Data Supplier</p>
              </a>
            </li>
          </ul>
        </li>
        
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>